<form action='/patients/record/add/:id' method='POST'>
  Add New Patient
  <br><br>
  Patient's Name:
  <br>
  <input type="text" class="form-control form-control-sm" name="form_patient_name"></input>
  <br>
  Patient's Address:
  <br>
  <input type="text" class="form-control form-control-sm" name="form_patient_address"></input>
  <br>
  Phone No:
  <br>
  <input type="phone" class="form-control form-control-sm " name="form_patient_phone"></input>
  <br>
  E-mail:
  <br>
  <input type="email" class="form-control form-control-sm" name="form_patient_email"></inpiut>
  <br>
  Insurance:
  <br>
  <input type="text" class="form-control form-control-sm" name="form_patient_insurance"></input>
  <br><br>
  <div class="text-center">
    <button class="btn btn-lg btn-secondary" id="submit" type="submit">Submit</button>
  </div>
</form>