<%- include('./includes/head'); %>

    <div class="text-center">
        <p>
        <h4>Hygienist Login</h4>
        </p>
    </div>

    <body>
        <div class="text-center">
            <form action="/login" onsubmit="return isValidForm()" method="post">
                <p>
                    <label>Hygienist Email or Name:</label> <input type="text" name="username" id="username" />
                </p>
                <p>
                    <label>Password:</label> <input type="password" name="password" id="password" />
                </p>
                <button type="submit" class="btn btn-primary">Login</button>
                <br />
                <br />
                <a href="/register">Register New Hygienist</a>
                <br />   
                <% if (messages && messages.length> 0 ) { %>
                    <input type="hidden" id="Message" value='<%= messages[0] %>'/>   
                     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   
                    <script>
                           const input = document.getElementById("Message");
                            swal(input.value)
                    </script>
                <% } %>
            </form>
        </div>                  
    </div>
    </body>
    </html>