<!DOCTYPE html>
<html lang="en">
<title>Login Hygienist`</title>

<%- include('./includes/head'); %>

<div class="text-center">
<p>
<h4>Hygienist Login</h4>
</p>
</div>
<body>
    <div class="text-center">
    <form action="/login" onsubmit="return isValidForm()" method="post">
    <p>
        <label>Hygienist Name:</label> <input type="text" name="username" id="username" /> 
    </p>
    <p>
        <label>Password:</label> <input type="password" name="password" id="password" />
    </p>
    <button type="submit">Login</button>
    <br/>
    <br/>
    <a href="/register">Register New Hygienist</a>
    <br/>
    </form>
    </div>

</body>
</html>

