<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style type="text/css">
        label{
            width: 100px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<div class="text-center">
<h1>Hygienist Login</h1>
<hr/>
</div>
<body>
    <div class="text-center">
    <form style="max-width:600px; margin:auto;" action="/login" onsubmit="return isValidForm()" method="post">
    <p>
        <label>Hygienist Name:</label> <input type="text" name="username" id="username" /> 
    </p>
    <p>
        <label>Password:</label> <input type="password" name="password" id="password" />
    </p>
    <button type="submit">Login</button>
    <br/>
    <br/>
    <a href="/register">Register New Hygienist</a>
    <br/>
    </form>
    </div>

</body>
</html>
