<%- include('./includes/head'); %>
    <div class="text-center">
        <p>
        <h4>Register New Hygienist</h4>
        </p>
    </div>
    </div>

    <body>
        <div class="text-center">
            <form action="/register" method="post">
                <p>
                    <label>Hygienist Name:</label><input type="text" name="username" id="username" />
                </p>
                <p>
                    <label>Password:</label><input type="password" name="password" id="password" />
                </p>
                <button class="btn btn-primary" type="submit">Register</button>
                <br />
                <br />
                <label>Already Registered?</label><a href="/login">Login Hygienist</a>
                <br />
                <% if (messages && messages.length> 0 ) { %>
                    <input type="hidden" id="Message" value='<%= messages[0] %>'/>   
                     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   
                    <script>
                           const input = document.getElementById("Message");
                            swal(input.value)
                    </script>
                <% } %>
            </form>
        </div>
    </body>
    </html>